<ul class="cart-products">
<% @products.each do |product| %>
<li><%= image_url(product) %></li>
<li><%= product.name %></li>

<li>qty: <%= Orderitem.find_by(product_id: product.id).quantity%></li>
<% end %>
</ul>


<%= link_to "edit cart", edit_cart_path(@cart), class: "button" %>
<%= link_to "checkout", checkout_path(@cart), class: "button" %>
