
<h3>Merchant Summary</h3>
<section class='user-info'>

  <%= render partial: "layouts/error_messages", locals: { model: @user } %>

  <p>Joined site <%= render_date @user.created_at %></p>

  <p>Name: <span><%= @user.name %></span></p>
  <p>Username: <span><%= @user.username %></span></p>
  <p>Email: <span><%= @user.email %></span></p>

  <%= link_to "Back to Product List", root_path, class: "button" %>

  <section class='product_list'>

  </section>

</section>
