<h3>Client Summary</h3>

<%= render partial: "layouts/error_messages", locals: { model: @user } %>

<p>Joined site <%= render_date @user.created_at %></p>
<table>
<tbody>
      <tr>
        <td><%= @user.name  %></td>
        <td><%= @user.username %></td>
        <td><%= @user.email %></td>
      </tr>
  </tbody>
</table>

<%= link_to "Back to Product List", root_path, class: "button" %>
