


<%= render partial: "layouts/error_messages", locals: { model: @login_user } %>



<section class="merchant-display">
<section class='user-info'>
  <img src="https://placeimg.com/480/480/a" class="merchant-img" alt="placeholder image"/>
  <h3>Merchant Summary</h3>
    <p>Joined site <%= render_date @login_user.created_at %></p>

    <p>Name: <span><%= @login_user.name %></span></p>
    <p>Username: <span><%= @login_user.username %></span></p>
    <p>Email: <span><%= @login_user.email %></span></p>

    <%= link_to "Back to All Products", products_path, class: "hollow button" %>

    <%= link_to "Add New Product", new_product_path, class: 'hollow button'  %>
</section>

<section class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="products" checked>
  <label for="tab1">Products</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="orders">
  <label for="tab2">Order Fulfillment</label>
  <!-- Tab 3 -->
  <input type="radio" name="tabset" id="tab3" aria-controls="accounting">
  <label for="tab3">Accounting</label>

  <section class="tab-panels">
    <section id="products" class="tab-panel">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Average Rating</th>
            <th>Reviews</th>
            <th>Retire Product</th>
          </tr>
        </thead>
        <tbody>
          <% @login_user.products.each do |p| %>
          <tr>
            <td><%= link_to p.name, product_path(p.id) %></td>
            <td><%= p.stock %></td>
            <td>$<%= sprintf("%.02f", p.price) %></td>

            <td><% p.average_rating.times do %>
              <%= "💧" %>
              <% end %>
            </td>

            <td><%= p.reviews.count %></td>
            <td>
              <% if p.retired? %>
              <%= button_to "show product", product_path(p), params: { product: { retired: false }}, method: :patch, class: "button" %>
              <% else %>
              <%= button_to "hide product", product_path(p), params: { product: { retired: true }}, method: :patch, class: "button" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>

    <section id="orders" class="tab-panel">
      <%= link_to "mark shipped", order_path(@order), params: {order: {status: :shipped}}, method: :patch, class: "button" %>
      <h2>6A. Märzen</h2>
      <p><strong>Overall Impression:</strong> An elegant, malty German amber lager with a clean, rich, toasty and bready malt flavor, restrained bitterness, and a dry finish that encourages another drink. The overall malt impression is soft, elegant, and complex, with a rich aftertaste that is never cloying or heavy.</p>
      <p><strong>History:</strong> As the name suggests, brewed as a stronger “March beer” in March and lagered in cold caves over the summer. Modern versions trace back to the lager developed by Spaten in 1841, contemporaneous to the development of Vienna lager. However, the Märzen name is much older than 1841; the early ones were dark brown, and in Austria the name implied a strength band (14 °P) rather than a style. The German amber lager version (in the Viennese style of the time) was first served at Oktoberfest in 1872, a tradition that lasted until 1990 when the golden Festbier was adopted as the standard festival beer.</p>
    </section>
    <section id="accounting" class="tab-panel">
      <h2>6B. Rauchbier</h2>
      <p><strong>Overall Impression:</strong>  An elegant, malty German amber lager with a balanced, complementary beechwood smoke character. Toasty-rich malt in aroma and flavor, restrained bitterness, low to high smoke flavor, clean fermentation profile, and an attenuated finish are characteristic.</p>
      <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke character of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).</p>
    </section>
  </section>

</section>
</section
