
<h3>Merchant Summary</h3>
<section class='user-info'>

  <%= render partial: "layouts/error_messages", locals: { model: @login_user } %>

<article>
  <p>Joined site <%= render_date @login_user.created_at %></p>

  <p>Name: <span><%= @login_user.name %></span></p>
  <p>Username: <span><%= @login_user.username %></span></p>
  <p>Email: <span><%= @login_user.email %></span></p>

  <%= link_to "Back to All Products", products_path, class: "hollow button" %>

  <%= link_to "Add New Product", new_product_path, class: 'hollow button'  %>
</article>
</section>

  <article class="table">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Stock</th>
          <th>Price</th>
          <th>Average Rating</th>
          <th>Reviews</th>
          <th>Retire Product</th>
        </tr>
      </thead>
      <tbody>
        <% @login_user.products.each do |p| %>
          <tr>
            <td><%= link_to p.name, product_path(p.id) %></td>
            <td><%= p.stock %></td>
            <td>$<%= sprintf("%.02f", p.price) %></td>

            <td><% p.average_rating.times do %>
                <%= "💧" %>
              <% end %>
            </td>

            <td><%= p.reviews.count %></td>
            <td>
              <% if p.retired? %>
            <%= button_to "show product", product_path(p), params: { product: { retired: false }}, method: :patch, class: "button" %>

            <!-- users_path(params.merge(format: :pdf)) -->
            <% else %>
            <%= button_to "hide product", product_path(p), params: { product: { retired: true }}, method: :patch, class: "button" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
