<%= form_for @paymentinfo, url: checkout_path do |f| %>
<h3>Personal Information</h3>
<article class="form">
  <%= f.label :buyer_name, 'Name' %>
  <%= f.text_field :buyer_name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :mailing_address %>
  <%= f.text_field :mailing_address %>
</article>
<h3>Payment Information</h3>
<article class="form">
  <%= f.label :card_number %>
  <%= f.number_field :card_number, pattern: '/[0-9]{12,19}/', message: 'CC must be a number, 12- 19 digits in length' %>
  <%= f.label :expiration %>
  <%= f.date_field :expiration, as: :date %>

  <%= f.label :cvv, 'CVV' %>
  <%= f.text_field :cvv, pattern: '/[0-9]{,3}/', message: 'Must be three digits' %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.submit "Checkout"%>

  <% end %>
</article>
