<section class="product-item">
  <article>
    <h3><%= item.name %></h3>
    <%= image_tag (item.url) %>
  </article>
  <article>
  <ul>
    <li>
    Categories: <% item.categories %>
    </li>
    <li>
      Price: <%= number_to_currency item.price %>
    </li>
    <li>
    Quantity:  <%= item.stock %>
    </li>
    <li>Add to cart:
      <%= form_with url: add_to_cart_path(@order_item) do |f| %>
      <%= f.hidden_field :product_id, value: item.id%>
      <%= f.number_field :quantity, class: "number-field" %>
      <%= submit_tag "add to cart", class: "hollow button primary", method: :post %>
      <% end %>
    </li>
  </ul>
  </article>
  <article>
    <section class='product-reviews'>
      <p>Description: <%= item.description %></p>
      <h4> rating </h4>
      <p> reviews </p>

    </section>
  </article>
</section>
