
  <tr class="cart-items">
    <% product = product_details(item) %>
    <td class="img-thumbnail"><%= image_tag (product.url) %></td>
    <td><%= product.name %></td>
    <td><%= number_to_currency product.price %></td>
    <td>
      <td><%=item.quantity%></td>
      <td>
        <% if quantity_edit?(request.fullpath) %>
        <%= form_with url: edit_cart_path do |f| %>
          <%= f.hidden_field :product_id, value: item.id%>
          <%= f.number_field :quantity, :style => "width:10vw;" %>
        </td><td>
          <%= submit_tag "update quantity", class: "hollow button primary qty", method: :patch %>
        <% end %>
      <% end %>
    </td>
  </tr>
