<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1:500" rel="stylesheet">
</head>

<body>
  <header>
    <h1>
      <%= image_tag "site-icon.png", alt: "Site logo", class: "logo" %>
      regrEtsy
    </h1>
    <nav>
      <ul class="menu">
        <li class="menu-item-has-children"><%= link_to "Browse", root_path%>
          <ul>
            <li class="sub-menu"><%= link_to "Browse all products", products_path%></li>
            <li class="sub-menu"><%= link_to "Browse all categories", categories_path%></li>
            <!-- change to live link -->
            <li class="sub-menu"><%= link_to "Browse all merchants", root_path%></li>
          </ul>
        </li>
        <% if session[:user_id] %>
        <li class="menu-item-has-children"><%= link_to "Logged in as #{@login_user.name}", user_path(@login_user) %>
          <ul>
            <li><%= link_to 'Dashboard', user_path(@login_user) %></li>
            <li><%= link_to "Logout", logout_path, method: :delete%></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Login/SignUp with Github", "/auth/github", class: "button" %></li>
        <% end %>
      <li>
        <div class="icon-cart">
          <div class="cart-line-1"></div>
          <div class="cart-line-2"></div>
          <div class="cart-line-3"></div>
          <div class="cart-wheel"></div>
        </div>
      </li>
      </ul>
  </nav>
</header>

<section class="flash">
  <% flash.each do |name, message| %>
  <div class="callout <%= name %>"><%= message %></div>
  <% end %>
</section>

<main>
  <%= yield %>
</main>

<footer class="tag">
</footer>


</body>
</html>
