<h1>Write a Review for <%= Product.find(params[:id]).name %></h1>

<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.select :rating, (1..5).to_a %>

  <%= f.hidden_field :product_id %>

  <%= f.label :review %>
  <%= f.text_area :review %>

  <%= f.submit %>
<% end %>
