
  <tr class="cart-items">
    <% product = product_details(item) %>
    <td class="img-thumbnail"><%= image_tag (product.url) %></td>
    <td><%= product.name %></td>
    <td><%= number_to_currency product.price %></td>
    <td>
      <td><%=item.quantity%></td>
      <td>
        <% if quantity_edit?(request.fullpath) %>
        <%= form_with url: cart_path(@order), method: :patch do |f| %>
          <%= f.hidden_field :product_id, value: product.id%>
          <%= f.number_field :quantity, :style => "width:10vw;" %>

          <%= submit_tag "update quantity", class: "hollow button primary qty" %>
        <% end %>
      </td>

        <td>
        <%= form_with url: cart_path(@order), method: :patch do |f| %>
        <%= f.hidden_field :product_id, value: product.id%>
        <%= f.hidden_field :quantity, value: 0 %>
        <%= submit_tag "remove", class: "hollow button primary remove" %>
          <% end %>
      <% end %>
    </td>
  </tr>
