<section class="product-item">
  <article>
    <h3><%= link_to item.name, item %></h3>
    <%= image_tag (item.url) %>
  </article>
  <article>
  <ul>
    <li>
    Categories: <% item.categories %>
    </li>
    <li>
      Price: <%= number_to_currency item.price %>
    </li>
    <li>
    Quantity:  <%= item.stock %>
    </li>
    <li>
      <%= form_with url: add_to_cart_path do |f| %>
      <%= f.hidden_field :product_id, value: item.id%>
      <%= f.number_field :quantity, :style => "width:100px;" %>
      <%= submit_tag "add to cart", class: "hollow button primary", method: :post %>
      <% end %>
    </li>
  </ul>
  </article>
  <article>
    <section class='product-reviews'>
      <p>Description: <%= item.description %></p>
      <h4> <%= '%.2f' %item.average_rating %> average rating </h4>
      <p> <%= item.reviews.count %> reviews </p>

    </section>
  </article>
</section>
